<div class="panel">
    <app-navegator></app-navegator>
    <app-subnavegator [ruta]="'/principal/boveda/list-serie-documental'"></app-subnavegator>
    <div class="contenedor">
        <div class="row">
            <div class="col-lg-3">
                <app-info-inventario [id_inventario]="id_inventario"></app-info-inventario>
            </div>
            <div class="col-lg-9">

                <div class="encabezado_pages ">
                    <i class="bi bi-disc icon-custom"></i>
                    <p class="titulo_menu px-4">DISCOS</p>
                    <!-- <img src="/icon/cd.jpg" class="card-img-top" alt="..." style="width: 210px; height: 200px;"> -->
                </div>
                <div *ngFor="let disco of list_data_discos, let i = index" class="mb-4">
                    <div class="card rounded shadow border-2">
                        <div class="card-header  d-flex justify-content-between align-items-center">
                            <h4>Volumen {{ disco.volumen }}</h4> <!-- Mostrar el volumen dinámicamente -->
                            <h4>nombre: {{ disco.nombre }}</h4> <!-- Mostrar el volumen dinámicamente -->
                            <h6>25 GB</h6> <!-- Mostrar el espacio dinámicamente -->
                        </div>

                        <div class="card-body px-3 bg-white rounded">
                            <div class="d-flex justify-content-between w-100">
                                <div class="card" style="width: 15rem;">
                                    <img src="icon/cd.jpg" class="card-img-top" alt="...">
                                    <!-- Mostrar imagen dinámica -->
                                    <div class="card-body">
                                        <label  *ngIf="disco.estado_cerrado==null" for="">{{porcentajeExpedientes.toFixed(2)}}%</label>
                                        <!-- <label *ngIf="disco.estado_cerrado==true" for="">{{disco.peso_ocupado.toFixed(2)}}%</label> -->
                                        <div class="progress progress-sm mr-2">
                                            <div *ngIf="disco.estado_cerrado==null"  class="progress-bar bg-info" role="progressbar"
                                                [style.width]="porcentajeExpedientes + '%'"
                                                [attr.aria-valuenow]="porcentajeExpedientes" 
                                                aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                            <div *ngIf="disco.estado_cerrado==true"  class="progress-bar bg-info" role="progressbar"
                                                [style.width]="disco.peso_ocupado + '%'"
                                                [attr.aria-valuenow]="disco.peso_ocupado" 
                                                aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-between mx-4 w-100">
                                    <div>
                                        <div class="d-flex align-items-center">
                                            <button *ngIf="disco.peso_tarjeta_apertura==null" class="btn btn-danger btn-sm" (click)="openModalRegistrarTarjetaApertura(disco)" > Registrar Doc</button>
                                            <h5>
                                                <i class="bi bi-file-earmark-pdf-fill"
                                                    [style]=' disco.peso_tarjeta_apertura!=null? "color: brown; font-size: 2rem;": "color: gray; font-size: 2rem;"'></i>
                                                1.- Tarjeta de calibración de apertura
                                                ({{disco.fecha_tarjeta_apertura | date: 'dd/MM/yyyy'}})
                                            </h5>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <button *ngIf="disco.peso_acta_apertura==null" [disabled]="disco.peso_tarjeta_apertura == null" class="btn btn-danger btn-sm" (click)="openModalRegistrarActaApertura(disco)"> Registrar Doc</button>
                                            <h5>
                                                <i class="bi bi-file-earmark-pdf-fill"
                                                    [style]=' disco.peso_acta_apertura!=null? "color: brown; font-size: 2rem;": "color: gray; font-size: 2rem;"'></i>
                                                2.- Acta de apertura
                                                ({{disco.fecha_acta_apertura | date: 'dd/MM/yyyy'}})
                                            </h5>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <button *ngIf="disco.peso_acta_cierre==null" [disabled]="disco.peso_acta_apertura==null"  class="btn btn-danger btn-sm" (click)="openModalRegistrarActaCierre(disco)"> Registrar Doc</button>
                                            <h5>
                                                <i class="bi bi-file-earmark-pdf-fill"
                                                    [style]=' disco.peso_acta_cierre!=null? "color: brown; font-size: 2rem;": "color: gray; font-size: 2rem;"'></i>
                                                3.- Acta de cierre
                                                ({{disco.fecha_acta_cierre | date: 'dd/MM/yyyy'}})
                                            </h5>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <button  *ngIf="disco.peso_tarjeta_cierre==null" [disabled]="disco.peso_acta_cierre==null" class="btn btn-danger btn-sm" (click)="openModalRegistrarTarjetaCierre(disco)"> Registrar Doc</button>

                                            <h5>
                                                <i class="bi bi-file-earmark-pdf-fill"
                                                    [style]=' disco.peso_tarjeta_cierre!=null? "color: brown; font-size: 2rem;": "color: gray; font-size: 2rem;"'></i>
                                                4.- Tarjeta de calibración de cierre
                                                ({{disco.fecha_tarjeta_cierre | date: 'dd/MM/yyyy'}})
                                            </h5>
                                        </div>
                                       
                                    </div>
                                    <div class="d-flex flex-column align-self-start">
                                        <button *ngIf="disco.estado_cerrado==null && disco.peso_tarjeta_cierre!=null" (click)="CerrarDisco(disco)" class="btn btn-success" [disabled]="disco.peso_tarjeta_apertura==null?true:false">  CERRAR DISCO </button>
                                        <button *ngIf="disco.estado_cerrado" (click)="CerrarDisco(disco)" class="btn btn-info">  DESCARGAR MICHOFORMA </button>
                                        <!-- <button *ngIf="disco.peso_tarjeta_cierre!=null" [disabled]="isLoading[i]"
                                            [class]='disco.estado_cerrado==true?"btn btn-info" :"btn btn-success" '
                                            (click)="disco.estado_cerrado==true?RecuperarDiscoDetalle(disco,i):AsociarExpedientesCD(disco,i) ">
                                            <span *ngIf="isLoading[i]" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                            {{disco.estado_cerrado==true? isLoading[i] ? 'PREPARANDO EXPEDIENTES...' : 'DESCARGAR MICROFORMAS': 'CERRAR DISCO'}}
                                        </button> -->
                                        <div class="d-flex justify-content-end m-2">
                                            <span> Total de imágenes: 45 </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-success" (click)="openModalCrearDisco()" [disabled]="list_data_discos.length==0?false:list_data_discos[list_data_discos.length-1].estado_cerrado==null?true:false">Agregar Disco</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="ModalCrearDisco" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Creación de Disco</h5>
            </div>
            <div class="modal-body">
                <div class="d-flex align-items-center">
                    <img src="/icon/cd.jpg" class="m-3" alt="..." style="width: 130px; height: 120px;">

                    <div class="d-flex flex-column justify-content-center my-3">
                        <label class="form-label">Nombre disco:
                            {{`${this.data_inventario.codigo}V${this.list_data_discos.length + 1}`}}</label>
                        <label class="form-label">Capacidad: 25GB</label>
                        <label class="form-label">Volumen: {{`${this.list_data_discos.length + 1}`}}</label>
                    </div>
                </div>

                <div class="modal-footer d-flex justify-content-center gap-2 ">
                    <button type="button" class="cancelar-btn mt-3" (click)="closeModalCrearDisco()">Cancelar</button>
                    <button type="button" class="guardar-btn px-4 mt-3" (click)="crearDisco()">Crear</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal registrar tarjeta de calibracion de apertura-->
<div class="modal fade modal-lg" id="exampleModaltarjetaApertura" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-custom-width" role="document">
        <div class="modal-content" style="position: relative;">
            <div class="modal-header">
                <div class="custom-width text-center">
                    <h5 class="modal-title" id="exampleModalLongTitle">Tarjeta de calibración de apertura</h5>
                </div>
            </div>
            <div class="modal-body text-start">
                <div class="mb-3 d-flex">
                    <input class="form-control form-control-sm" type="file" id="formFileTarjetaApertura"
                        (change)="onFileSelectedTarjetaApertura($event)" accept=".pdf">
                    <button type="button" class="guardar-btn mx-2"
                        (click)="guardarPDFTarjetaCalibracionApertura()">Guardar</button>
                </div>
                <div style="margin: 10px;">
                    <iframe [src]="pdfUrlTarjetaApertura" type="application/pdf" width="100%"
                        style="height: 77vh;"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal registrar tarjeta de calibracion de cierre-->
<div class="modal fade modal-lg" id="exampleModaltarjetaCierre" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-custom-width" role="document">
        <div class="modal-content" style="position: relative;">
            <div class="modal-header">
                <div class="custom-width text-center">
                    <h5 class="modal-title" id="exampleModalLongTitle">Tarjeta de calibración de cierre</h5>
                </div>
            </div>
            <div class="modal-body text-start">

                <div class="mb-3 d-flex">
                    <input class="form-control form-control-sm" type="file" id="formFileTarjetaCierre"
                        (change)="onFileSelectedTarjetaCierre($event)" accept=".pdf">
                    <button type="button" class="guardar-btn mx-2"
                        (click)="guardarPDFTarjetaCalibracionCierre()">Guardar</button>
                </div>
                <div style="margin: 10px;">
                    <iframe [src]="pdfUrlTarjetaCierre" type="application/pdf" width="100%"
                        style="height: 77vh;"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal registrar acta de apertura-->
<div class="modal fade modal-lg" id="exampleModalActaApertura" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-custom-width" role="document">
        <div class="modal-content" style="position: relative;">
            <div class="modal-header">
                <div class="custom-width text-center">
                    <h5 class="modal-title" id="exampleModalLongTitle">Acta de apertura</h5>
                </div>
            </div>
            <div class="modal-body text-start">

                <div class="mb-3 d-flex">
                    <input class="form-control form-control-sm mx-2" type="file" id="formFileActaApertura"
                        (change)="onFileSelectedActaApertura($event)" accept=".pdf">
                    <button type="button" class="guardar-btn mx-2" (click)="guardarPDFActaApertura()">Guardar</button>
                </div>
                <div style="margin: 10px;">
                    <iframe [src]="pdfUrlActaApertura" type="application/pdf" width="100%"
                        style="height: 77vh;"></iframe>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Modal registrar acta de cierre-->
<div class="modal fade modal-lg" id="exampleModalActaCierre" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-custom-width" role="document">
        <div class="modal-content" style="position: relative;">


            <div class="modal-header">
                <div class="custom-width text-center">
                    <h4 class="text-white mx-4">Registro de acta de cierre</h4>
                </div>
            </div>
            <div class="modal-body text-start">
                <div class="mb-3 d-flex">
                    <input class="form-control form-control-sm" type="file" id="formFileActaCierre"
                        (change)="onFileSelectedActaCierre($event)" accept=".pdf">
                    <button type="button" class="guardar-btn mx-2" (click)="guardarPDFActaCierre()">Guardar</button>
                </div>
                <div style="margin: 10px;">
                    <iframe [src]="pdfUrlActaCierre" type="application/pdf" width="100%" style="height: 77vh;"></iframe>
                </div>
            </div>

        </div>
    </div>
</div>