<div class="panel-report">
    <div class="d-flex justify-content-between align-items-center">
        <h1>Reportes / Expedientes</h1>
        <a class="btn btn-sm btn-primary shadow opacity-75">
            <i class="bi bi-download"></i> Generate Report
        </a>
    </div>

    <!-- Contenedor relativo -->
    <div class="buscador-container">
        <div class="d-flex mb-3">
            <input type="text" id="buscar" name="buscar" class="form-control form-control-sm"
                [(ngModel)]="nro_expediente">
            <button class="btn btn-primary mx-2" (click)="BuscarExpediente()">Buscar</button>
        </div>

        <!-- Card relativo al buscador -->
        <div class="card-expedientes shadow" [class.show]="mostrarCard">
            <div *ngFor="let expediente of lista_expedientes" class="expediente-item" >
                <label >{{ expediente.nro_expediente }}</label>
                <button class="btn btn-light btn-sm " (click)="buscarDatosExpediente(expediente.id_expediente)">Ver detalle</button>
            </div>
        </div>
    </div>
    <!-- fin del contendor relativo -->

    <div class="card-report shadow">
        <div class="panel_stepper">
            <div class="d-flex justify-content-center">
                <div class="progress-container">
                    <div class="progress" role="progressbar" aria-label="Progreso del proceso" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-warning" [style.width.%]="(this.nro_progreso -1) * 20"></div>
                    </div>
                    <div class="item d-flex flex-column align-items-center" style="left: 0%;">
                        <img [src]="this.estadoExpediente.estado_recepcionado=='T' ? '/icon/recepcion.png' : '/icon/recepcion.png'" alt="" width="50px">
                        <div class="step-circle mt-2" [style]="this.estadoExpediente.estado_recepcionado=='T' ? 'background-color: brown; color: aliceblue':null ">1</div>
                        <p> RECEPCIÓN</p> 
                    </div>
                    <div class="item d-flex flex-column align-items-center" style="left: 20%;">
                        <img [src]="this.estadoExpediente.estado_preparado=='T' ? '/icon/preparacion.png' : '/icon/preparacion_b.png'" alt="" width="50px">
                        <div class="step-circle mt-2" [style]="this.estadoExpediente.estado_preparado=='T' ? 'background-color: brown; color: aliceblue':null ">2</div>
                        <p> PREPARACIÓN</p> 
                    </div>
                    <div class="item d-flex flex-column align-items-center" style="left: 40%;">
                        <img [src]="this.estadoExpediente.estado_digitalizado=='T' ? '/icon/digitalizacion.png' : '/icon/digitalizacion_b.png'" alt="" width="50px">
                        <div class="step-circle mt-2" [style]="this.estadoExpediente.estado_digitalizado=='T' ? 'background-color: brown; color: aliceblue':null ">3</div>
                        <p> DIGITALIZACIÓN</p> 
                    </div>
                    <div class="item d-flex flex-column align-items-center" style="left: 60%;">
                        <img [src]="this.estadoExpediente.estado_indizado=='T' ? '/icon/indizacion.png' : '/icon/indizacion_b.png'" alt="" width="50px">
                        <div class="step-circle mt-2" [style]="this.estadoExpediente.estado_indizado=='T' ? 'background-color: brown; color: aliceblue':null ">4</div>
                        <p> INDIZACIÓN</p> 
                    </div>
                    <div class="item d-flex flex-column align-items-center" style="left: 80%;">
                        <img [src]="this.estadoExpediente.estado_controlado=='T' ? '/icon/control.png' : '/icon/control_b.png'" alt="" width="50px">
                        <div class="step-circle mt-2" [style]="this.estadoExpediente.estado_controlado=='T' ? 'background-color: brown; color: aliceblue':null ">5</div>
                        <p> CONTROL</p> 
                    </div>
                    <div class="item d-flex flex-column align-items-center" style="left: 100%;">
                        <img [src]="this.estadoExpediente.estado_fedatado=='T' ? '/icon/fedatario.png' : '/icon/fedatario_b.png'" alt="" width="50px">
                        <div class="step-circle mt-2" [style]="this.estadoExpediente.estado_fedatado=='T' ? 'background-color: brown; color: aliceblue':null ">6</div>
                        <p> FEDATARIO</p> 
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>