<div class="panel-report">
    <div class="d-flex justify-content-between align-items-center">
        <h1>Reportes / Series Documentales</h1>
        <a class=" btn btn-sm btn-primary shadow opacity-75"><i class="bi bi-download"></i> Generate Report</a>
    </div>

    <div class="card-report shadow ">
        <div class="row">
            <div class="col-xl-9 col-md-6 mb-4 col-separator">
                <div class="card-report-supervisor ">
                    <h3 class="m-0 p-0">Supervisor de Linea</h3>
                    <p class="m-0 p-0">Cesar Huaman Huaman</p>
                </div>
                <div>
                    <div class="d-flex justify-content-between align-items-end  my-2 mb-3">
                        <div class="btn-group btn-group-sm" role="group">
                            <button type="button" class="btn btn-success"><i
                                    class="bi bi-file-earmark-excel-fill"></i></button>
                            <button type="button" class="btn btn-danger"><i class="bi bi-file-pdf-fill"></i></button>
                        </div>
                        <div class="col-">
                            <label for="">Buscar:</label>
                            <input type="text" class="form-control form-control-sm" name="buscar">
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table text-center  table-hover" id="excel-table">
                            <thead class="text-white table-success">
                                <tr>
                                    <th scope="col">NRO</th>
                                    <th class="text-start" scope="col">ESPECIALIDAD</th>
                                    <th scope="col">AÑO</th>
                                    <th class="text-start" scope="col">SEDE</th>
                                    <th scope="col">CANTIDAD</th>
                                    <th class="text-start" scope="col">TIPO DOC</th>
                                    <th class="text-start" scope="col">COD</th>
                                    <th class="text-start" scope="col">SERIE DOC</th>
                                </tr>
                            </thead>
                            <!-- <tbody>
                                <tr class="hand_cursor" title="click para modificar usuario"
                                    *ngFor="let usuario of listaUsuarios  | paginate: { itemsPerPage: 10, currentPage: p }; let i = index"
                                    (click)="modificarUsuario(usuario.id_usuario)"
                                    [ngStyle]="{ opacity: usuario.estado ? '1':'0.50'  }">
                                    <th scope="row">{{ i + (p - 1) * 10 + 1 }}</th>
                                    <td>{{usuario.dni}}</td>
                                    <td class="text-start">{{usuario.nombre+ ' '+usuario.ap_paterno+' '+usuario.ap_materno}}</td>
                                    <td class="text-secondary "> <strong>{{usuario.username}}</strong> </td>
                                    <td>{{usuario.perfil}}</td>
                                    <td [ngStyle]="{ color: usuario.estado  ? 'green':'grey'  }">
                                        {{usuario.estado?'ACTIVO':'INACTIVO'}}
                                    </td>
                                </tr>
                            </tbody> -->
                        </table>
                    </div>
                </div>

            </div>
            <div class="col-xl-3 col-md-6 mb-4">

                <apx-chart [series]="chartOptionsPie.series!" [chart]="chartOptionsPie.chart!"
                    [labels]="chartOptionsPie.labels!" [theme]="chartOptionsPie.theme!"
                    [plotOptions]="chartOptionsPie.plotOptions!" [grid]="chartOptionsPie.grid!"
                    [dataLabels]="chartOptionsPie.dataLabels!" [legend]="chartOptionsPie.legend!">
                </apx-chart>
            </div>

        </div>
    </div>

</div>