.contenedor {
  margin: 2% 4%;
  max-width: 1680px;
}

.modal-custom-width {
  max-width: 85%;
}


.contenedor-form {
  margin: 0px 0px;
  padding: 0px 4% 4% 4%;
  max-width: 1680px;
} 

/* scroll personalizado  */
.scroll-hidden {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
  /* Chrome/Safari */
}

/* sub title */
.sub_title {
  font-size: 0.9rem;
  font-weight: 400;
  color: #4f5152cc;
  margin: 0px;
  margin-top: 5px;
  background-color: #e6e9eb5b;
  border-radius: 5px;
}

.p-subtitle {
  margin: 0px 0px;
}

.title-section {
  font-size: 1.3rem;
  font-weight: 700;
  color: #133349b7;
  margin: 0px;
  text-transform: uppercase !important;
  margin-top: 3%;

}


/* scroll personalizado para observaciones de digitalizacion*/
.observaciones-scroll::-webkit-scrollbar {
  width: 6px;
}

.observaciones-scroll::-webkit-scrollbar-track {
 background: #f1f1f1;
}

.observaciones-scroll::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

.observaciones-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #b3b3b3;
}




