<div class="panel">
    <app-navegator></app-navegator>
    <app-subnavegator [ruta]="'/principal/digitalizacion/list-serie-documental'"></app-subnavegator>
    <div class="contenedor">
        <div class="row">
            <div class="col-lg-3">
                <app-info-inventario [id_inventario]="id_inventario"></app-info-inventario>
            </div>
            <div class="col-lg-9">

                <div class="encabezado_pages ">
                    <i class="bi bi-card-list icon-custom"></i>
                    <p class="titulo_menu px-4">DIGITALIZACIÓN DE EXPEDIENTES</p>
                </div>
                <div class="card rounded shadow border-2 ">
                    <div class="card-header py-3 d-flex justify-content-between align-items-center ">
                        <input type="text" class="form-control form-control-sm mx-2" name="registroexpediente"
                            placeholder="Buscar expediente" (input)=" buscarEnObjeto($event)">

                    </div>
                    <div class="card-body px-5 bg-white rounded">
                        <div class="mb-2 d-flex align-items-center">
                        </div>
                        <div class="table-responsive">
                            <table class="table text-center" id="excel-table">
                                <colgroup>
                                    <col style="width: 5%;">
                                    <col style="width: 75%;">
                                    <col style="width: 20%;">

                                </colgroup>
                                <thead class="table-success ">
                                    <tr>
                                        <th scope="col">Nro</th>
                                        <th scope="col">EXPEDIENTE</th>
                                        <th scope="col"></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let expediente of ListExpedientes | paginate: { itemsPerPage: 10, currentPage: p }; let i = index"  >
                                        <th scope="row">{{ i + (p - 1) * 10 + 1 }}</th>
                                        <td>{{expediente.nro_expediente}} </td>
                                        <td (click)="obtenerNroExpediente(expediente.nro_expediente)">
                                            <button *ngIf="expediente.estado_digitalizado==null" class="btn btn-secondary btn-sm" (click)="openModalReception(expediente.id_expediente)">
                                                 <!-- <i class="bi bi-box-arrow-in-down"></i>  -->
                                                  <img src="/icon/download_doc.png" alt="logo" title="Recepcion" width="16px" height="16px">
                                                 Recepcionar</button>
                                            <button *ngIf="expediente.estado_digitalizado=='A'" class="btn btn-light btn-sm" (click)="openModalDigitalizacion(expediente.id_expediente)">
                                                <img src="/icon/doc_aceptado.png" alt="logo" title="Recepcion" width="16px" height="16px">
                                                Digitalizar
                                            </button>
                                            <div>
                                                <img *ngIf="expediente.estado_digitalizado=='T'"  src="/icon/check.png" alt="logo" title="Preparado correctamente" width="24px" height="24px">
                                                <img *ngIf="expediente.estado_digitalizado=='T'"  src="/icon/expediente_eye.png" class="mx-3" alt="logo" title="ver información" width="24px" height="24px">
                                                <img *ngIf="expediente.estado_digitalizado=='T' && expediente.estado_indizado==null"  src="/icon/lapiz.png"  alt="logo" title="ver información" width="24px" height="24px" (click)="ObternerDigitalizacionByIdExpediente(expediente.id_expediente)">
                                            </div>

                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-end ">
                                <pagination-controls (pageChange)="p = $event" previousLabel="Anterior"
                                    nextLabel="Siguiente"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="exampleModalReception" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Recepcion de expediente</h5>
            </div>
            <div class="modal-body">

                <h5 class="text-center">¡IMPORTANTE!</h5>
                <p>El expediente se encuentra en estado de recepción. Para poder continuar con el proceso de
                    preparación,
                    debe aprobar la recepcion del expediente.</p>
                <div class="form-check text-start">
                    <input class="form-check-input" type="checkbox" value="" id="checkChecked" checked>
                    <label class="form-check-label" for="checkChecked">
                        Confirmo tener el documento fisico en mi poder
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary btn-sm" (click)="RecepcionFlujograma();closeModal();openModalDigitalizacion(this.id_expediente_temp)">Aprobar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalDigitalizacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
    <div class="modal-dialog   modal-custom-width" role="document" >
        <div class="modal-content" style="height: 94vh;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">DIGITALIZACIÓN DE EXPEDIENTE</h5>
            </div>
            <div class="modal-body m-0 p-0">
                <div class="row">
                    <div class="col col-lg-4 col-sm-12 " style="padding-right:0px; margin-right:0px;">
                        <div class="sub_titulo_expediente d-flex justify-content-center position-relative">
                            <i class="bi bi-eye-fill position-absolute start-0 ms-2" style="top: 50%; transform: translateY(-50%); cursor: pointer; padding-left: 15px;" title="Ver información de preparación" (click)="MostrarDatosPreparacion()" ></i>
                            <h5 style="font-size: 1.1rem;">{{nro_expediente_temp}}</h5>
                          </div>
                        <div class="contenedor" style="height: 94%; display: flex; flex-direction: column;">
                            <form style="flex: 1; display: flex; flex-direction: column;">
                              <fieldset style="flex: 1; display: flex; flex-direction: column;">
            
                                    <div class="form-group mt-3">
                                        <label for="fojas" class="form-label">Archivo digitalizado: </label>
                                        <input class="form-control form-control-sm" type="file" id="formFile" (change)="onFileSelected($event)" accept=".pdf" >
                                    </div>
            
                                    <div class="form-group mt-3">
                                        <label for="fojas" class="form-label">Total de fojas digitalizadas:</label>
                                        <input type="text" class="form-control" name="unaCara"  >
                                    </div>
            
                                    
                                    <div class="form-check mt-3">
                                        <input class="form-check-input" type="checkbox" value="" id="checkDefault" name="ocr">
                                        <label class="form-check-label" for="checkDefault">OCR </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="checkChecked" name="escala_gris" >
                                        <label class="form-check-label" for="checkChecked">Escala de Grises</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="checkChecked" name="color" >
                                        <label class="form-check-label" for="checkChecked">Color</label>
                                    </div>
                                    <div class="form-group mt-3" >
                                        <label for="fojas" class="form-label">Observaciones: </label>
                                      
                                        <!-- Contenedor con scroll si se llena -->
                                        <div style="max-height: 320px; overflow-y: auto; flex: 1; padding-right: 8px;" class="observaciones-scroll"   >
                                          <div *ngFor="let observacion of ListObservaciones; let i = index" class="mb-2">
                                            <div class="observation-wrapper position-relative">
                                              <input type="text" readonly class="form-control observation-tag" name="observacion" [value]="observacion">
                                              <div class="observation-icons">
                                                <i class="bi bi-chevron-down obs-icon" (click)="BajarObservacion(i)"></i>
                                                <i class="bi bi-chevron-up obs-icon mx-1" (click)="SubirObservacion(i)"></i>
                                                <i class="bi bi-x-square obs-icon" (click)="EliminarObservacion(i)"></i>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      
                                          
                                        <input type="text" class="form-control mt-3 observation-input" name="observacion" id="observacion">
                                        <button type="button" class="btn btn-secondary btn-sm opacity-75 mt-2" (click)="AgregarObservacion()" >+ Añadir observación</button>
                                    </div>
                                    <!-- Input + botón para agregar -->

                                    <!-- <textarea id="observaciones" name="observaciones" placeholder="Observaciones" class="form-control" style="height: 208px;resize: none" rows="6"></textarea> -->
                                    <div class="d-flex justify-content-end  ">
                                        <button type="button" class="cancelar-btn mx-4" (click)="closeModal()">Cancelar</button>
                                        <button type="button" class="guardar-btn" (click)="EventAction()" >Guardar</button>
                                    </div>  
                                </fieldset>
            
            
                            </form>
                        </div>

                        <div [ngClass]="{ 'visible': mostrar_obs_preparacion, 'hidden': !mostrar_obs_preparacion }" class="observaciones-preparacion-panel shadow-lg">
                            <div style="width: 88%;" class="mb-0">
                                <label class="form-label  mt-3  mb-0">Datos de preparación:</label>
                                
                            </div>
                            <div class="card-note mt-2 " style="width: 88%;">
                                <div class="d-flex justify-content-between align-items-center my-0">
                                    <h5 class="mt-0 opacity-75"  style="font-size: 1rem;">{{nro_expediente_temp}}</h5>
                                    <p class="text-muted mb-1">{{data_preparacion_expediente.create_at | date:'dd/MM/yyyy'}}</p>
                                </div>
                                <p class="mb-1"><span style="font-weight: 600;">Responsable:   </span>  {{data_preparacion_expediente.username}}</p>
                                <p class="mb-1"><span style="font-weight: 600;">Total de fojas:  </span> {{data_preparacion_expediente.fojas_total}}</p>
                                <p class="mb-1"><span style="font-weight: 600;">Una cara:  </span> {{data_preparacion_expediente.fojas_unacara}}</p>
                                <p class="mb-1"><span style="font-weight: 600;">Dos caras:  </span> {{data_preparacion_expediente.fojas_doscaras}}</p>
                            </div>
                            <div style="width: 88%;" class="mb-0">
                                <label class="form-label  mt-3  mb-0">Obvervaciones:</label>
                                
                            </div>
                            <div *ngFor="let item of ListObservacionesPreparacion; let i = index" style="width: 88%;">
                                <div class="card-obs">
                                  
                                    <p class="mb-0" style="font-size: 1rem;">{{item}}</p>

                                    
                                </div>
                        
                            </div>
                        
                           
                            
                        </div>
                    </div>
                    <div class="col col-lg-8 col-sm-12 p-0 m-0 " style="height: 89vh; ">
                        <iframe 
                          [src]="pdfUrl" 
                          style="width: 99%; height: 98.2%; border: none; background-color: #f6f6ee; border-bottom-right-radius: 10px;" 
                          type="application/pdf"
                         >
                        </iframe>
                      </div>
                </div>
            </div>
            
            
            <!-- <div class="contenedor">
                <form>
                   
                </form>
            </div> -->
        </div>
    </div>

    <!-- mensajeria notas -->
<div [ngClass]="{ 'visible': mostrar_mensajes_expediente, 'hidden': !mostrar_mensajes_expediente }" class="message-panel shadow-lg">
    <div *ngFor="let item of notasList; let i = index" style="width: 88%;">
        <div class="card-note">
            <div class="d-flex justify-content-between align-items-center my-0">
                <h5 class="mt-0">usuario</h5>
                <p class="text-muted mb-1">15/02/2025</p>
            </div>
            <p>este es un contenido</p>
            <div class="d-flex justify-content-end m-0">
                <i class="bi bi-x-circle m-0"  ></i>
            </div>
            
        </div>

    </div>

    <div class="mb-3" style="width: 88%;">
        <label class="form-label mb-1 mt-3">Nota:</label>
        <textarea class="form-control" id="text_area_nota" rows="4"></textarea>
        <div class="d-flex justify-content-end mt-2">
            <button class="btn btn-success btn-sm" >+ Add</button>
        </div>
    </div>
    
</div>

<!-- Boton de notas -->
<div class="doc-chat-popper" data-ember-action="" data-ember-action-4992="4992" (click)="mostrar_mensajes_expediente = !mostrar_mensajes_expediente">
    <i *ngIf="!mostrar_mensajes_expediente" class="bi bi-chat-square-text-fill" style="font-size: 1.5rem;"></i>
    <i *ngIf="mostrar_mensajes_expediente" class="bi bi-x-lg" style="font-size: 1.2rem;"></i>
</div>

</div>


