<div class="panel ">
    <app-navegator></app-navegator>
    <div class="container pt-4">
        <div>
            <div class="d-flex justify-content-center my-2">
                <img src="img/logos/systenlogo.svg" style="width: 350px; " alt="logo">
            </div>
            <div class="d-flex justify-content-center">
                <h3 class="titulo_menu justify-content-start">SISTEMA GESTOR DE PROCESO DE DIGITALIZACIÓN DE ARCHIVO
                </h3>
            </div>
            <div class="d-flex justify-content-center mb-4">
                <h6 class="subtitulo_menu">Seguimiento rápido y seguro de la digitalización de archivos</h6>
            </div>
        </div>
        <div class="row ">
            <hr>
            <!-- INVENTARIO DE DIGITALIZACION-->
            <div class="tarjeta col-xl-3 col-md-6 mb-4 hand_cursor" (click)="recepcion_serie_documental()">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 ">RECEPCIÓN DE DOCUMENTOS</div>
                            </div>
                            <div class="col-auto">
                                <i class="bi bi-box-seam icon-custom"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- PREPARACION DE DOCUMENTOS -->
            <div class=" tarjeta col-xl-3 col-md-6 mb-4 hand_cursor" (click)="preparacion_documentos()">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">PREPARACIÓN DE  DOCUMENTOS</div>
                            </div>
                            <div class="col-auto">
                                <i class="bi bi-folder2 icon-custom"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- DIGITALIZACION-->
            <div class=" tarjeta col-xl-3 col-md-6 mb-4 hand_cursor" (click)="digitalizacion()">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 ">DIGITALIZACIÓN DE EXPEDIENTES</div>
                            </div>
                            <div class="col-auto">
                                <i class="bi bi-file-earmark-break icon-custom"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #region INDIZADOR -->
            <div class="tarjeta col-xl-3 col-md-6 mb-4 hand_cursor" (click)="indizador()" >
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">INDIZADOR</div>
                            </div>
                            <div class="col-auto">
                                <i class="bi bi-binoculars icon-custom"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #endregion -->

            <!--CONTROL DE CALIDAD -->
            <div class="tarjeta col-xl-3 col-md-6 mb-4 hand_cursor" (click)="controlCalidad()">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">CONTROL DE CALIDAD</div>
                            </div>
                            <div class="col-auto">
                                <i class="bi bi-clipboard-check icon-custom"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FEDATARIO -->
            <div class="tarjeta col-xl-3 col-md-6 mb-4 hand_cursor" (click)="fedatario()">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">FEDATARIO</div>
                            </div>
                            <div class="col-auto">
                                <i class="bi bi-person-check  icon-custom"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- BOVEDA -->
            <div class=" tarjeta col-xl-3 col-md-6 mb-4 hand_cursor" (click)="boveda()" >
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">BÓVEDA DE MICROFORMAS</div>
                            </div>
                            <div class="col-auto">
                                <i class="bi bi-database-fill-lock icon-custom"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- REPORTES -->
            <div class="tarjeta col-xl-3 col-md-6 mb-4 hand_cursor" (click)="reporte()">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">REPORTES</div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm mr-2">
                                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%"
                                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm mr-2">
                                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%"
                                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="bi bi-file-bar-graph-fill icon-custom"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <hr>
            <!-- USUARIOS -->
            <div class=" tarjeta col-xl-3 col-md-6 mb-4 hand_cursor" (click)="usuarios()">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">USUARIOS</div>
                            </div>
                            <div class="col-auto">
                                <i class="bi bi-person-square icon-custom"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
