<div class="panel">
    <app-navegator></app-navegator>
    <app-subnavegator [ruta]="'/principal/indizador/list-serie-documental'"></app-subnavegator>
    <div class="contenedor">
        <div class="row">
            <div class="col-lg-3">
                <app-info-inventario [id_inventario]="id_inventario"></app-info-inventario>
            </div>
            <div class="col-lg-9">

                <div class="encabezado_pages ">
                    <i class="bi bi-card-list icon-custom"></i>
                    <p class="titulo_menu px-4">INDIZACIÓN DE EXPEDIENTES</p>
                </div>
                <div class="card rounded shadow border-2 ">
                    <div class="card-header py-3 d-flex justify-content-between align-items-center ">
                        <input type="text" class="form-control form-control-sm mx-2" name="registroexpediente"
                            placeholder="Buscar expediente" (input)=" buscarEnObjeto($event)">

                    </div>
                    <div class="card-body px-5 bg-white rounded">
                        <div class="mb-2 d-flex align-items-center">
                        </div>
                        <div class="table-responsive">
                            <table class="table text-center" id="excel-table">
                                <colgroup>
                                    <col style="width: 5%;">
                                    <col style="width: 75%;">
                                    <col style="width: 20%;">

                                </colgroup>
                                <thead class="table-success ">
                                    <tr>
                                        <th scope="col">Nro</th>
                                        <th scope="col">EXPEDIENTE</th>
                                        <th scope="col"></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let expediente of ListExpedientes | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                                        <th scope="row">{{ i + (p - 1) * 10 + 1 }}</th>
                                        <td>{{expediente.nro_expediente}} </td>
                                        <td (click)="obtenerExpedienteTemp(expediente)">
                                            <img *ngIf="expediente.estado_indizado==null" src="/icon/doc-previo.png"
                                                alt="logo" title="datos de digitalización" width="24px" height="24px"
                                                class="mx-3">
                                            <button *ngIf="expediente.estado_indizado==null"
                                                class="btn btn-secondary btn-sm"
                                                (click)="openModalReception(expediente.id_expediente)">
                                                <img src="/icon/download_doc.png" alt="logo" title="Recepcion"
                                                    width="16px" height="16px">
                                                Recepcionar
                                            </button>
                                            <button *ngIf="expediente.estado_indizado=='R'"
                                                class="btn btn-danger btn-sm"
                                                (click)="openModalReception(expediente.id_expediente)">
                                                <img src="/icon/download_doc.png" alt="logo" title="Recepcion"
                                                    width="16px" height="16px">
                                                Recepcionar
                                            </button>
                                            <button
                                                *ngIf="expediente.estado_indizado=='A' && expediente.estado_controlado==null"
                                                class="btn btn-light btn-sm"
                                                (click)="openModalIndizacion(expediente.id_expediente, expediente.nro_expediente, false)">
                                                <img src="/icon/doc_aceptado.png" alt="logo" width="16px" height="16px">
                                                Indizar
                                            </button>
                                            <button
                                                *ngIf="expediente.estado_indizado=='A' && expediente.estado_controlado=='R'"
                                                class="btn btn-light btn-sm"
                                                (click)="openModalIndizacion(expediente.id_expediente,expediente.nro_expediente,true)">
                                                <img src="/icon/doc_aceptado.png" alt="logo" title="Recepcion"
                                                    width="16px" height="16px">
                                                Corregir
                                            </button>
                                            <div>
                                                <img *ngIf="expediente.estado_indizado=='T'" src="/icon/check.png"
                                                    alt="logo" title="Preparado correctamente" width="24px"
                                                    height="24px">
                                                <img *ngIf="expediente.estado_indizado=='T'"
                                                    src="/icon/expediente_eye.png" class="mx-3" alt="logo"
                                                    title="ver información" width="24px" height="24px">
                                                <img *ngIf="expediente.estado_indizado=='T' && expediente.estado_controlado==null"
                                                    src="/icon/lapiz.png" alt="logo" title="ver información"
                                                    width="24px" height="24px"
                                                    (click)="openModalIndizacion(expediente.id_expediente, expediente.nro_expediente, true)">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-end ">
                                <pagination-controls (pageChange)="p = $event" previousLabel="Anterior"
                                    nextLabel="Siguiente"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalReception" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Recepcion de expediente</h5>
            </div>
            <div class="modal-body">

                <h5 class="text-center">¡IMPORTANTE!</h5>
                <p>El expediente se encuentra en estado de recepción. Para poder continuar con el proceso de
                    preparación,
                    debe aprobar la recepcion del expediente.</p>
                <div class="form-check text-start">
                    <input class="form-check-input" type="checkbox" value="" id="checkChecked" [(ngModel)]="checkAprobado">
                    <label class="form-check-label" for="checkChecked">
                        Confirmo tener el documento fisico en mi poder
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary btn-sm" (click)="RecepcionFlujograma()" [disabled]="!checkAprobado">Aprobar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ModalIndizacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog   modal-custom-width " role="document">
        <div class="modal-content" style="height: 94vh;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">INDIZACIÓN DE EXPEDIENTE</h5>
            </div>
            <div class="modal-body m-0 p-0">
                <div class="row">
                    <div class="col col-lg-5 col-sm-12  " style="padding-right: 0px; margin-right:0px;">
                        <div style="display: flex; flex-direction: column; height: 87vh;">

                            <!-- Elemento superior (siempre en la parte de arriba) -->
                            <div class="sub_titulo_expediente  ">
                                <section class="contenedor">
                                    <h5 style="font-size: 1.1rem;">{{data_preparacion_header.nro_expediente}}</h5>
                                    <p style="font-size: 0.8rem; margin-top: 0.5rem; margin-bottom: 0.3rem;"> <span
                                            style="color: #666666c7; font-weight: 600;">Recepcionado por:</span>
                                        {{data_preparacion_header.responsable}}</p>
                                    <p style="font-size: 0.8rem;margin-top: 0.3rem; margin-bottom: 0.3rem;"><span
                                            style="color: #666666c7; font-weight: 600;">Fecha de recepción:</span>
                                        {{data_preparacion_header.create_at | date:'dd/MM/yyyy'}}</p>
                                    <P style="font-size: 0.8rem;margin-top: 0.3rem; margin-bottom: 0.3rem;"><span
                                            style="color: #666666c7; font-weight: 600;">Cod. de paquete:</span>
                                        {{data_preparacion_header.cod_paquete}}</P>
                                </section>
                            </div>

                            <!-- Elemento central que ocupa el espacio restante -->
                            <div class="contenedor-form-indizacion scroll-hidden" style="flex: 1;">
                                <form style="flex: 1; display: flex; flex-direction: column;">
                                    <fieldset style="flex: 1; display: flex; flex-direction: column;">

                                        <section class="section-area">
                                            <h4 class="title-section">Data preparación</h4>
                                            <hr style="border: 1px solid #6c757d;" class="my-0 py-0">
                                            <div class="sub_title">
                                                <p class="p-subtitle "> <strong>Responsable:</strong> {{
                                                    data_preparacion.responsable}}</p>
                                                <p class="p-subtitle"><strong>Creación:</strong> {{
                                                    data_preparacion.create_at | date:'dd/MM/yyyy'}}</p>
                                            </div>
                                            <div class="form-group mt-3">
                                                <label for="fojas" class="form-label">Fojas fisicas: </label>
                                                <input type="text" class="form-control" name="fojas"
                                                    [(ngModel)]="data_preparacion.fojas_total" readonly>
                                            </div>

                                            <div class="form-group mt-3">
                                                <label for="fojas" class="form-label">1 cara:</label>
                                                <input type="text" class="form-control" name="unaCara"
                                                    [(ngModel)]="data_preparacion.fojas_unacara" readonly>
                                            </div>

                                            <div class="form-group mt-3">
                                                <label for="fojas" class="form-label">2 caras:</label>
                                                <input type="text" class="form-control" name="dosCaras"
                                                    [(ngModel)]="data_preparacion.fojas_doscaras" readonly>
                                            </div>

                                            <div class="form-check mt-3">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="checkDefault" name="docOriginales"
                                                    [(ngModel)]="data_preparacion.copias_originales">
                                                <label class="form-check-label" for="checkDefault">Doc. Originales
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="checkChecked" name="docCopias"
                                                    [(ngModel)]="data_preparacion.copias_simples">
                                                <label class="form-check-label" for="checkChecked">Copias</label>
                                            </div>
                                            <div class="form-group mt-3">
                                                <label for="fojas" class="form-label">Observaciones: </label>
                                                <div *ngFor="let observacion of ListObservacionesPreparacion; let i = index"
                                                    class="  mb-2">
                                                    <div class="observation-wrapper position-relative">
                                                        <input type="text" readonly class="form-control observation-tag"
                                                            name="observacion" value="{{observacion}}">

                                                    </div>
                                                </div>

                                            </div>
                                        </section>
                                        <section class="section-area">
                                            <h4 class="title-section">Data digitalización</h4>
                                            <hr style="border: 1px solid #6c757d;" class="my-0 py-0">
                                            <div class="sub_title">
                                                <p class="p-subtitle "> <strong>Responsable:</strong>
                                                    {{data_digitalizacion.responsable}}</p>
                                                <p class="p-subtitle"><strong>Creación:</strong>
                                                    {{data_digitalizacion.create_at | date:'dd/MM/yyyy'}}</p>

                                            </div>

                                            <div class="form-group mt-3">
                                                <label for="fojas" class="form-label">Total de fojas
                                                    digitalizadas:</label>
                                                <input type="text" class="form-control" name="fojas"
                                                    [(ngModel)]="data_digitalizacion.fojas_total">
                                            </div>


                                            <div class="form-check mt-3">
                                                <input class="form-check-input" type="checkbox" id="checkDefault"
                                                    name="ocr" [(ngModel)]="data_digitalizacion.ocr">
                                                <label class="form-check-label" for="checkDefault">OCR </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="checkChecked"
                                                    name="escala_gris" [(ngModel)]="data_digitalizacion.escala_gris">
                                                <label class="form-check-label" for="checkChecked">Escala de
                                                    Grises</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="checkChecked"
                                                    name="color" [(ngModel)]="data_digitalizacion.color">
                                                <label class="form-check-label" for="checkChecked">Color</label>
                                            </div>
                                            <div class="form-group mt-3">
                                                <label for="fojas" class="form-label">Observaciones: </label>

                                                <!-- Contenedor con scroll si se llena -->
                                                <div style="max-height: 320px; overflow-y: auto; flex: 1; padding-right: 8px;"
                                                    class="observaciones-scroll">
                                                    <div *ngFor="let observacion of ListObservacionesDigitalizacion; let i = index"
                                                        class="mb-2">
                                                        <div class="observation-wrapper position-relative">
                                                            <input type="text" readonly
                                                                class="form-control observation-tag" name="observacion"
                                                                [value]="observacion">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>

                                        <section class="section-area">
                                            <h4 class="title-section">Data indización</h4>
                                            <hr style="border: 1px solid #6c757d;" class="my-0 py-0">

                                            <div class="form-group mt-3">
                                                <label for="juzgado_origen" class="form-label">Juzgado de
                                                    origen:</label>
                                                <input type="text" class="form-control form-control-sm"
                                                    name="juzgado_origen" [(ngModel)]="dataIndizacion.juzgado_origen">
                                            </div>

                                            <div class="form-group mt-3">
                                                <label for="tipo_proceso" class="form-label">Tipo de proceso:</label>
                                                <input type="text" class="form-control form-control-sm"
                                                    name="tipo_proceso" [(ngModel)]="dataIndizacion.tipo_proceso">
                                            </div>

                                            <div class="form-group mt-3">
                                                <label for="materia" class="form-label">Materia:</label>
                                                <input type="text" class="form-control form-control-sm" name="materia"
                                                    [(ngModel)]="dataIndizacion.materia">
                                            </div>

                                            <div class="form-group mt-3">
                                                <div class="row">
                                                    <div class="col">
                                                        <label for="fecha_inicio" class="form-label ">Fecha
                                                            inicio:</label>
                                                        <input id="fecha_inicio" type="date"
                                                            class="form-control form-control-sm "
                                                            name="fecha_resolucion"
                                                            [(ngModel)]="dataIndizacion.fecha_inicial">
                                                    </div>
                                                    <div class="col">
                                                        <label for="fecha_final" class="form-label ">Fecha
                                                            final:</label>
                                                        <input id="fecha_final" type="date"
                                                            class="form-control form-control-sm "
                                                            name="fecha_resolucion"
                                                            [(ngModel)]="dataIndizacion.fecha_final">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group mt-3">
                                                <label for="demandante" class="form-label mb-1">Demandante(s):</label>
                                                <!-- <hr style="border: 1px solid #6c757d;" class="my-0 py-0 mb-2"> -->
                                                <div *ngFor="let item of ListDamandantes; let i = index" class="mb-2 ">
                                                    <div class="wrapper-tag position-relative">
                                                        <div class="form-control tag d-flex justify-content-between align-items-center"
                                                            style="padding-right: 4rem;">
                                                            <span>{{ item.demandante }}</span>
                                                            <span>{{ item.id }}</span>
                                                        </div>
                                                        <div class="icons-tag">
                                                            <i class="bi bi-chevron-down icon-tag"
                                                                (click)="BajarDemandante(i)"></i>
                                                            <i class="bi bi-chevron-up icon-tag mx-1"
                                                                (click)="SubirDemandante(i)"></i>
                                                            <i class="bi bi-x-square icon-tag"
                                                                (click)="EliminarDemandante(i)"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-flex w-100 mt-2 gap-2">
                                                    <input type="text" class="form-control form-control-sm input-tag"
                                                        name="demandantes" id="demandante" placeholder="Demandante"
                                                        style="flex: 2;">
                                                    <input type="text" class="form-control form-control-sm input-tag"
                                                        name="identificador-demandante" id="id_demandante"
                                                        placeholder="DNI/RUC" style="flex: 1;">
                                                    <button type="button" class="btn btn-secondary btn-sm opacity-75"
                                                        (click)="AgregarDemandante()">+</button>
                                                </div>
                                            </div>

                                            <div class="form-group mt-3 ">
                                                <label for="demandados" class="form-label mb-1">Demandado(s): </label>
                                                <!-- <hr style="border: 1px solid #6c757d;" class="my-0 py-0 mb-2"> -->
                                                <div *ngFor="let item of ListDamandados; let i = index" class="mb-2 ">
                                                    <div class="wrapper-tag position-relative">
                                                        <div class="form-control tag d-flex justify-content-between align-items-center"
                                                            style="padding-right: 4rem;">
                                                            <span>{{ item.demandado }}</span>
                                                            <span>{{ item.id }}</span>
                                                        </div>
                                                        <div class="icons-tag">
                                                            <i class="bi bi-chevron-down icon-tag"
                                                                (click)="BajarDemandado(i)"></i>
                                                            <i class="bi bi-chevron-up icon-tag mx-1"
                                                                (click)="SubirDemandado(i)"></i>
                                                            <i class="bi bi-x-square icon-tag"
                                                                (click)="EliminarDemandado(i)"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-flex w-100 mt-2 gap-2">
                                                    <input type="text" class="form-control form-control-sm input-tag "
                                                        name="demandado" id="demandado" placeholder="Demandado"
                                                        style="flex: 2;">
                                                    <input type="text" class="form-control form-control-sm input-tag"
                                                        name="id-demandado" id="id_demandado" placeholder="DNI/RUC"
                                                        style="flex: 1;">
                                                    <button type="button" class="btn btn-secondary btn-sm opacity-75 "
                                                        (click)="AgregarDemandado()">+</button>
                                                </div>

                                            </div>

                                            <div class="form-group mt-3 ">
                                                <label for="indice" class="form-label mb-1">Indice: </label>
                                                <!-- <hr style="border: 1px solid #6c757d;" class="my-0 py-0 mb-2"> -->
                                                <div id="list-container">
                                                    <ol>
                                                        <li *ngFor="let item of dataIndice; let i = index" class="mb-1">
                                                            <span class="titulo_index">{{ item.descripcion }} </span>
                                                            <span class="titulo_index">{{ '(Pg.'+ item.indice+' )' }}
                                                            </span>
                                                            <button type="button" class="action-button"
                                                                (click)="addSubItem(dataIndice, i)"><i
                                                                    class="bi bi-text-indent-left"></i></button>
                                                            <button type="button" class="action-button"
                                                                (click)="editItem(dataIndice, i)"><i
                                                                    class="bi bi-pencil"></i></button>
                                                            <button type="button" class="action-button"
                                                                (click)="deleteItem(dataIndice, i)"><i
                                                                    class="bi bi-x-circle"></i></button>
                                                            <ol *ngIf="item.subItems && item.subItems.length > 0">
                                                                <li
                                                                    *ngFor="let subItem of item.subItems; let j = index">
                                                                    <span class="subtitulo_index">{{ subItem.descripcion
                                                                        }} </span>
                                                                    <span class="subtitulo_index">{{ '(Pg.'+
                                                                        subItem.indice+' )' }} </span>
                                                                    <button type="button" class="action-button"
                                                                        (click)="addSubItem(item.subItems, j)"><i
                                                                            class="bi bi-text-indent-left"></i></button>
                                                                    <button type="button" class="action-button"
                                                                        (click)="editItem(item.subItems, j)"><i
                                                                            class="bi bi-pencil"></i></button>
                                                                    <button type="button" class="action-button"
                                                                        (click)="deleteItem(item.subItems, j)"><i
                                                                            class="bi bi-x-circle"></i></button>
                                                                    <ol
                                                                        *ngIf="subItem.subItems && subItem.subItems.length > 0">
                                                                        <li
                                                                            *ngFor="let subSubItem of subItem.subItems; let k = index">
                                                                            <span class="subsubtitulo_index">{{
                                                                                subSubItem.descripcion }}
                                                                            </span>
                                                                            <span class="subsubtitulo_index">{{ '(Pg.'+
                                                                                subSubItem.indice+'
                                                                                )' }} </span>
                                                                            <button type="button" class="action-button"
                                                                                (click)="editItem(subItem.subItems, k)"><i
                                                                                    class="bi bi-pencil"></i></button>
                                                                            <button type="button" class="action-button"
                                                                                (click)="deleteItem(subItem.subItems, k)"><i
                                                                                    class="bi bi-x-circle"></i></button>
                                                                        </li>
                                                                    </ol>
                                                                </li>
                                                            </ol>
                                                        </li>
                                                    </ol>
                                                </div>
                                                <button type="button" class="btn btn-secondary btn-sm opacity-75 mt-2"
                                                    (click)="addItem()">+ Añadir elemento</button>
                                            </div>

                                            <div class="form-group mt-3">
                                                <label for="fojas" class="form-label mb-1">Observaciones: </label>
                                                <!-- <hr style="border: 1px solid #6c757d;" class="my-0 py-0 mb-2"> -->
                                                <div *ngFor="let observacion of ListObservaciones; let i = index"
                                                    class="  mb-2">
                                                    <div class="observation-wrapper position-relative">
                                                        <input type="text" readonly class="form-control observation-tag"
                                                            name="observacion" value="{{observacion}}">
                                                        <div class="observation-icons">
                                                            <i class="bi bi-chevron-down obs-icon"
                                                                (click)="BajarObservacion(i)"></i>
                                                            <i class="bi bi-chevron-up obs-icon mx-1"
                                                                (click)="SubirObservacion(i)"></i>
                                                            <i class="bi bi-x-square obs-icon"
                                                                (click)="EliminarObservacion(i)"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="text" class="form-control mt-3 observation-input"
                                                    name="observacion" id="observacion" [(ngModel)]="observacion_temp">
                                                <button type="button" class="btn btn-secondary btn-sm opacity-75 mt-2"
                                                    (click)="AgregarObservacion()">+ Añadir observación</button>
                                            </div>
                                        </section>



                                    </fieldset>
                                </form>
                            </div>

                            <!-- Elemento inferior (botones) fijo abajo -->
                            <div class="d-flex justify-content-end"
                                style="margin-bottom: -5px; padding: 10px 5px; background-color: #b5b8b925;">
                                <button type="button" class="cancelar-btn mx-2"
                                    (click)="closeModalIndizacion()">Cancelar</button>
                                <button type="button" class="guardar-btn mx-2" (click)="EventAction()">
                                    {{modificarIndizacion ? 'Modificar' : 'Guardar'}}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-7 col-sm-12 p-0 m-0 " style="height: 89vh; ">
                        <iframe [src]="pdfUrl"
                            style="width: 99%; height: 98.2%; border: none; background-color: #f6f6ee; border-bottom-right-radius: 10px;"
                            type="application/pdf">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mensajeria notas -->
    <div [ngClass]="{ 'visible': mostrar_mensajes_expediente, 'hidden': !mostrar_mensajes_expediente }"
        class="message-panel shadow-lg">
        <div *ngFor="let item of MensajesExpedienteTemp; let i = index" style="width: 88%;">
            <div class="card-note">
                <div class="card-header-message">
                    <div class="d-flex justify-content-between align-items-center my-0">
                        <p class="text-muted mb-1">DE: {{item.area_remitente}} / <span>{{item.responsable}}</span></p>
                        <p class="text-muted mb-1">{{ item.fecha | date:'dd/MM/yyyy'}}</p>
                    </div>
                    <p class="text-muted mb-0">PARA: {{item.destino}}</p>
                </div>

                <p class="text-muted mt-2">{{item.mensaje}}</p>
                <div *ngFor="let respuesta of item.respuestas" class="box-respuesta">
                    <div class="d-flex justify-content-between align-items-center my-0">
                        <p class="text-muted mb-1">{{respuesta.area}} / <span>{{respuesta.responsable}}</span></p>
                        <p class="text-muted mb-1">{{respuesta.fecha | date:'dd/MM/yyyy'}}</p>
                    </div>
                    <p>{{respuesta.respuesta}}</p>

                </div>
                <div class="d-flex justify-content-end">
                    <p (click)="togglePopup(i)" style="color: green; cursor: pointer;">responder</p>
                </div>
                <div class="position-relative">
                    <div *ngIf="mostrarPopupIndex === i" class="popup-box">
                        <div class="card">
                            <div class="card-body">
                                <input type="text" [(ngModel)]="nuevaRespuesta" class="form-control"
                                    placeholder="Escribe tu respuesta">
                                <div class="mt-3 d-flex justify-content-end">
                                    <button class="btn btn-primary btn-sm"
                                        (click)="agregarRespuesta(i, nuevaRespuesta)">Guardar</button>
                                    <button (click)="cerrarPopup()"
                                        class="btn btn-secondary btn-sm ms-2">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Boton de notas -->
    <div *ngIf="this.MensajesExpedienteTemp.length>0" class="doc-chat-popper" data-ember-action="" data-ember-action-4992="4992"
        (click)="mostrar_mensajes_expediente = !mostrar_mensajes_expediente">
        <i *ngIf="!mostrar_mensajes_expediente" class="bi bi-chat-square-text-fill" style="font-size: 1.5rem;"></i>
        <i *ngIf="mostrar_mensajes_expediente" class="bi bi-x-lg" style="font-size: 1.2rem;"></i>
    </div>
</div>




<!-- MODAL DE INDICE PRINCIPAL-->
<div class="modal fade modal-lg " id="Modal_Indizador_primero" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content shadow-lg" style="border: 4px solid #ccc; background-color: rgb(243, 243, 241);">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Creación de indice</h5>
            </div>
            <div class="form-group container">
                <div class="m-1 p-1 px-2">

                    <div class="form-group mt-3">
                        <label for="descripcion" class="form-label">Descripción:</label>
                        <input id="indizacion_descripcion" type="text" class="form-control form-control-sm">
                    </div>
                    <div class="form-group mt-3" style="display: flex; gap: 1rem;">
                        <div>
                            <label for="indice" class="form-label">Indice:</label>
                            <input id="indizacion_indice" type="number" class="form-control form-control-sm">
                        </div>
                        <div>
                            <label for="fojas" class="form-label">Fojas:</label>
                            <input id="indizacion_fojas" type="number" class="form-control form-control-sm">
                        </div>
                        <div>
                            <label for="fecha_indice" class="form-label ">Fecha:</label>
                            <input id="fecha_indice" type="date" class="form-control form-control-sm"
                                name="fecha_indice">
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label for="fecha_indice" class="form-label ">Detalle:</label>
                        <textarea class="form-control" id="indizacion_textarea" rows="3"></textarea>
                    </div>

                    <div class="d-flex justify-content-center mt-3 mb-2">
                        <button type="button" class="cancelar-btn mx-2" (click)="closeModalIndice()">Cancelar</button>
                        <button type="button" class="registrar-btn mx-2" (click)="registrarItem()">Registrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL DE SUBINDICE-->
<div class="modal fade modal-lg" id="Modal_Indizador_segundo" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content shadow-lg" style="border: 4px solid #ccc; background-color: rgb(243, 243, 241);">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Datos preparación</h5>
            </div>
            <div class="form-group container">
                <div class="m-1 p-1 px-2">
                    <div class="form-group mt-3">
                        <label for="descripcion" class="form-label">Descripción:</label>
                        <input id="indizacion_descripcion_2" type="text" class="form-control form-control-sm">
                    </div>
                    <div class="form-group mt-3" style="display: flex; gap: 1rem;">
                        <div>
                            <label for="indice" class="form-label">Indice:</label>
                            <input id="indizacion_indice_2" type="number" class="form-control form-control-sm">
                        </div>
                        <div>
                            <label for="fojas" class="form-label">Fojas:</label>
                            <input id="indizacion_fojas_2" type="number" class="form-control form-control-sm">
                        </div>
                        <div>
                            <label for="fecha_indice" class="form-label ">Fecha:</label>
                            <input id="fecha_indice_2" type="date" class="form-control form-control-sm"
                                name="fecha_indice">
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label for="fecha_indice" class="form-label ">Detalle:</label>
                        <textarea class="form-control" id="indizacion_textarea_2" rows="3"></textarea>
                    </div>


                    <!-- <div class="d-flex justify-content-center">
                    <button class="btn btn-primary tn-sm" id="boton_agregar_subitem" >{{modificar_indizacion?'Modificar':'Agregar'}}</button>
                </div> -->
                    <div class="d-flex justify-content-center mt-3 mb-2">
                        <button type="button" class="cancelar-btn mx-2"
                            (click)="closeModalSubIndice()">Cancelar</button>
                        <button type="button" class="registrar-btn mx-2" id="boton_agregar_subitem">Registrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>